* {
  box-sizing: border-box;
}
body,
html {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

figure {
  width: 100%;
  display: block;
  margin: 0 auto;
}
img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
p {
  line-height: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Play", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

header {
  padding: 10px 35px;
  background-color: rgb(41, 41, 41);

  h1 {
    color: rgb(210, 210, 210);
    font-size: 1.5rem;
    text-align: center;
    text-transform: initial;

    span {
      color: rgb(80, 80, 80);
    }

    @media (min-width: 681px) {
      text-align: left;
    }
  }
}

section {
  h2 {
    padding: 22px;
  }

  &.owhite {
    background-color: #43464b;
    color: #eee;
  }
}

.caption {
  font-size: 0.9rem;
  color: #292929;
  padding: 5px 0;
}
figcaption {
  font-size: 0.9rem;
  color: #8e8a8a;
  padding: 5px 0;
}
.container {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;

  &.image {
    max-width: 1200px;
    padding: 0;
    .caption {
      padding: 5px 10px;
    }
    figcaption {
      padding: 5px 10px;
    }
  }

  &.hero {
    max-width: 1920px;
    padding: 0;
    height: 100vh;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}
.screen {
  width: 100%;
  min-height: 100vh;

  &.padd {
    padding-top: 25%;
  }
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(9 / 16 * 100%);
  iframe,
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
  }

  &.vertical {
    padding-bottom: calc(16 / 9 * 100%);
  }
}

@media (min-width: 681px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
@media (min-width: 805px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 1205px) {
  .container.image {
    .caption {
      padding: 5px 0;
    }
    figcaption {
      padding: 5px 0;
    }
  }
}
