#portfolio {
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media (min-width: 681px) {
    display: flex;
  }

  .item {
    flex-basis: 33%;
    padding: 22px;

    img {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    &.active {
      img {
        opacity: 1;
      }
    }

    a {
      text-decoration: none;
      color: #000;

      span {
        margin-top: 10px;
        text-align: center;
        width: 100%;
        display: block;
      }
    }
  }
}
