#skills {
  ul {
    margin: 0;
    padding: 22px;
  }
  li {
    display: inline-block;
    list-style: none;
    background-color: #4b0908;
    padding: 10px;
    color: #eee;
    margin-bottom: 10px;
  }
}
